@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #111827;
  --secondary: #f9fafb;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

.close {
  z-index: 999;
}

.close:before,
.close:after {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  content: " ";
  width: 2px;
  background-color: var(--primary);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
