* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}
.user-input {
  height: 30vh;
  max-height: 15rem;
}
.user-list {
  overflow-y: scroll;
  height: 100%;
}
main {
  width: 100vw;
  height: 100vh;
  background-color: black;
  padding-top: 1rem;
  display: grid;
  grid-template-rows: 30vh auto;
  grid-gap: 1rem;
}
